<mat-grid-list cols="3" rowHeight="2rem" gutterSize="1.5rem">
  <div>
  <mat-grid-tile>
      <button (click)="onCriteriaSelect(1)"  mat-raised-button color="accent">Los autos con mas cilindros</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(2)" mat-raised-button color="accent">Los autos mas actuales</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(3)" mat-raised-button color="accent">Carros de Toyota</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
