

<section>
  <img src="../../assets/img1.jpg">
  <img src="../../assets/img2.jpg">
  <img src="../../assets/img3.jpg">
  <img src="../../assets/img4.jpg">
   </section>

   <br>
   <div class="texto">
      <h1 class="lines-effect" style="text-align: center;">¿Buscando un nuevo auto?</h1>
   </div>


   <mat-grid-list cols="2" rowHeight="20rem" gutterSize="1.5rem">
    <div>
      <mat-grid-tile><img style="border-radius: 6.5rem;" src="../../assets/foto_home1.jpg"></mat-grid-tile>
      <mat-grid-tile>
        <div class="texto">
          <h1>¿Cómo elegir el mejor auto para comprar según tus preferencias?</h1>
        <hr>
        <p>¿Qué necesitas para comprar un auto? Como sabrás, este tipo de adquisición no la puedes tomar a la ligera. Es más, hay ciertas consideraciones que no se te pueden escapar durante el proceso de consideración.</p>
        </div>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <div class="texto">
          <h1>¿Cuál es tu estilo de conducción?</h1>
          <hr>
          <p>¿Eres un soltero viajero que quiere velocidad o una madre que busca seguridad y comodidad? Tal vez necesites practicidad,
            pero anhelas un poco de diversión para el viaje diario a casa o los fines de semana.
            Examinar detenidamente tu estilo de conducción y tus necesidades es clave para elegir un vehículo.
            Si eres un verdadero entusiasta de la conducción probablemente quieras enfocarte en autos que enfaticen la rapidez y la destreza en el manejo.
            Por otra parte, puede que prefieras un manejo ágil sin sacrificar el viaje, la comodidad y el espacio de carga como lo hacen muchos autos deportivos.</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile><img src="../../assets/autollave.jpg"></mat-grid-tile>
    </div>

    <mat-grid-tile colspan="2">
      <div class="texto">
        <a routerLink='/busqueda' mat-list-item>
          <h1 style="text-align: center;">BUSCA TU AUTO IDEAL</h1>
        </a>

      </div>
    </mat-grid-tile>

  </mat-grid-list>







